[submodule "thirdparty/wine"]
	path = thirdparty/wine
	url = https://github.com/winehua/wine.git
[submodule "thirdparty/box64"]
	path = thirdparty/box64
	url = https://github.com/winehua/box64.git
[submodule "thirdparty/wayland"]
	path = thirdparty/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "thirdparty/libffi"]
	path = thirdparty/libffi
	url = https://github.com/libffi/libffi.git
[submodule "thirdparty/wayland-protocols"]
	path = thirdparty/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "thirdparty/libxkbcommon"]
	path = thirdparty/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "thirdparty/libxml2"]
	path = thirdparty/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "thirdparty/xkeyboard-config"]
	path = thirdparty/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "thirdparty/virglrenderer"]
	path = thirdparty/virglrenderer
	url = https://github.com/winehua/virglrenderer.git
[submodule "thirdparty/mesa-ohos"]
	path = thirdparty/mesa-ohos
	url = https://github.com/winehua/mesa-ohos.git
[submodule "thirdparty/libdrm-ohos"]
	path = thirdparty/libdrm-ohos
	url = https://github.com/winehua/libdrm-ohos.git
