{
  "app": {
    "signingConfigs": [
      {
        "name": "default",
        "type": "HarmonyOS",
        "material": {
          "certpath": "./.ohos/your_cert.cer",
          "keyAlias": "your_key_alias",
          "keyPassword": "YOUR_ENCRYPTED_KEY_PASSWORD",
          "profile": "./.ohos/your_profile.p7b",
          "signAlg": "SHA256withECDSA",
          "storeFile": "./.ohos/your_keystore.p12",
          "storePassword": "YOUR_ENCRYPTED_STORE_PASSWORD"
        }
      }
    ],
    "products": [
      {
        "name": "default",
        "signingConfig": "default",
        "targetSdkVersion": "6.0.2(22)",
        "compatibleSdkVersion": "6.0.2(22)",
        "runtimeOS": "HarmonyOS",
        "buildOption": {
          "nativeCompiler": "BiSheng",
          "strictMode": {
            "caseSensitiveCheck": true,
            "useNormalizedOHMUrl": true
          }
        }
      }
    ],
    "buildModeSet": [
      {
        "name": "debug",
      },
      {
        "name": "release"
      }
    ]
  },
  "modules": [
    {
      "name": "entry",
      "srcPath": "./entry",
      "targets": [
        {
          "name": "default",
          "applyToProducts": [
            "default"
          ]
        }
      ]
    }
  ]
}
